name: citation-api

on:
  push:
    branches: [ "main" ]

jobs:
  quality:
    name: Audit & Quality Check 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Check with Black
        run: black --check --diff --color .

      - name: Lint with Pylint
        run: pylint --fail-under=8.0 . 

  security: 
    name: Security Scan
    needs: [ quality ]
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install pip-audit
        run: pip install pip-audit

      - name: Run security scan
        run: pip-audit -r requirements.txt

  test: 
    name: Unit Tests
    needs: [ quality ] 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          
      - name: Install dependencies
        run: pip install -r requirements.txt
        
      - name: Run Pytest
        run: pytest
    
  delivery:
    name: Build & deliver Docker Image
    needs: [ test ]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/alexandre1609-bit/citation-api:latest
